/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url("fonts/Baskerville.ttc");

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
/*////////// STYLING /////////////*/
h1 {
	font-family: Baskerville;
	font-size: 80px;
	color: rgb(152,173,166);
  margin: auto;
  }

  hr {
    display: block;
  }

 #main img {

		border: 5px solid;
		border-color: rgb(152,173,166);

		}

h2 {
color: rgb(101,119,112);
font-size: 33px;
}

#press img {
  border: 5px solid;
  border-color: #ccc;
  padding: 1px;
}

footer {
	text-align: right;
  font-size: small;
  margin: 0 0 20px 0;

}
