/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url("fonts/Baskerville.ttc");

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
/*////////// STYLING /////////////*/
h1 {
	font-family: Baskerville;
	font-size: 75px;
	color: rgb(157,176,168);
  margin-top: 20px;
  }

  hr {
    display: block;
  }

img {
		padding: 5px;
		background-color: rgb(157,176,168);
		}

h2 {
color: rgb(101,119,112);
}

footer {
	text-align: right;
  font-size: small;
}
